<ion-header>
  
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" >

      <img src="assets/icon/logo.png" > 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerDirection="root">Inicio <span class="sr-only">(current)</span></a>
        </li>
      
       
      
      
     
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerDirection="root">Cadastro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"routerLink="/login" routerDirection="root">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/chat" routerDirection="root">Chat</a>
        </li>
     
      </ul>
   
   
    </div>
  </nav>
  <style>
    h1{
    
      font-weight: bold;
      font-size: xx-large;
    
    }
    h3{
    color: white;
    font-weight: bolder;
    text-align: center;
    
    }
    h4{
    
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
    }
    body{
      background-image: url(../assets/icon/background.png);
     /* Full height */
     height: 90%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
    img{
      width: 50%;
     margin-left:10%; 
    }
    #botão{
      margin-left:35%;
    
     
    }
    
    #link{
    text-align: center;
      margin-top: 21%;
    }
    </style>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons > -->
    <div class="plusClass" slot="end">
      <ion-icon name="add" expand="icon-only" color="success"> </ion-icon>
    </div>
    <!-- </ion-buttons> -->
    <ion-title color="light">
      Chat Pages
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="md" placeholder="Search your friend"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" (ionChange)="segmentChanged($event)" padding>
    <ion-segment-button mode="md" value="chat" checked fixed>
      <div class="contentCenter">
        <ion-icon name="chatboxes" slot="start" class="padding_right tab-icon"></ion-icon>
        <ion-text slot=end>chat</ion-text>
      </div>
    </ion-segment-button>

    <ion-segment-button mode="md" value="friends">
      <div class="contentCenter">
        <ion-icon name="person" slot="start" class="padding_right tab-icon"></ion-icon>
        <ion-text slot=end>Friends</ion-text>
      </div>
    </ion-segment-button>

    <ion-segment-button mode="md" value="group">
      <div class="contentCenter">
        <ion-icon name="contacts" slot="start" class="padding_right tab-icon"></ion-icon>
        <ion-text slot=end>Group</ion-text>
      </div>
    </ion-segment-button>
  </ion-segment>
  <!-- <content> -->
  <ion-list *ngIf="segmentTab == 'chat' " no-padding>
    <ion-item *ngFor="let chat of chatData" (click)="goforChat(chat)">
      <ion-avatar class="chatImage" slot="start">
        <ion-img [src]="chat.image"></ion-img>
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2 color="light">{{chat.name}}
            </h2>
            <ion-avatar class="chatCount" *ngIf="chat.count">{{chat.count}}</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end" color="light">{{chat.time}}</ion-text>
          </div>
        </div>
        <p class="widthHalf">{{chat.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- </content> -->
</ion-content>
