<ion-header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" >

      <img src="assets/icon/logo.png" > 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerDirection="root">Inicio <span class="sr-only">(current)</span></a>
        </li>
      
       
      
      
     
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerDirection="root">Cadastro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"routerLink="/login" routerDirection="root">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/chat" routerDirection="root">Chat</a>
        </li>
     
      </ul>
   
   
    </div>
  </nav>
<style>
    body{
    background-image: url(../assets/icon/artes.png);
   /* Full height */
   height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }
  h1{
    text-align: center;
    
  }
  img{
  width: 50%;
 margin-left:10%; 
}
    </style>
 
</ion-header>

<ion-content>
<body>
 
  <ion-text color="danger">

   <h1>Artes</h1>
  
  
 
</ion-text>  

<div class="dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Arte contemporânea
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a class="btn btn-danger  btn-block" href="/inicial" role="button">Video aula</a>
    <div>
    <a class="btn btn-danger btn-block mt-2" href="/inicial" role="button">Podcast</a>
  </div>
    

  
  </div>
</div>
  
<div class="dropdown mt-3">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Arte renascentista
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a class="btn btn-danger  btn-block" href="/inicial" role="button">Video aula</a>
    <div>
    <a class="btn btn-danger btn-block mt-2" href="/inicial" role="button">Podcast</a>
  </div>
    

  
  </div>
</div>




</body>


 

</ion-content>
