<ion-header>
  <style>
    body{
    background-image: url(../assets/icon/ti.png);
   /* Full height */
   height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }
  h1{
    text-align: center;
  }
  img{
  width: 50%;
 margin-left:10%; 
}

    </style>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">

      <img src="assets/icon/logo.png"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Serviços</a>
        </li>
      
        <li class="nav-item active">
          <a class="nav-link" href="#">Contato</a>
        </li>
     
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro">Cadastro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
     
      </ul>
    </div>
  </nav>
</ion-header>

<ion-content>
<body>
  <ion-text color="success">
    <h1>   Informática</h1>
    </ion-text>   


    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Java 
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block" href="/apoj" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary  btn-block mt-2" href="/vaj" role="button">Video aula</a>
      </div>
        
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/podj" role="button">Podcast</a>
      </div>
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/quizj" role="button">Quiz</a>
      </div>
      </div>
    </div>

    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Android
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block " href="/inicial" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary btn-block  mt-2" href="/inicial" role="button">Video aula</a>
      </div>
              
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/poda" role="button">Podcast</a>
      </div>
    
      
      </div>
    </div>


    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Javascript
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block" href="/inicial" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary  btn-block mt-2" href="/inicial" role="button">Video aula</a>
      </div>
        
          
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/podjsf" role="button">Podcast</a>
      </div>
      
      </div>
    </div>


    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    HTML,CSS
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block" href="/inicial" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary  btn-block mt-2" href="/inicial" role="button">Video aula</a>
      </div>
        
          
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/podh" role="button">Podcast</a>
      </div>
      
      </div>
    </div>



    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Gestão de T.I
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block" href="/inicial" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary  btn-block mt-2" href="/inicial" role="button">Video aula</a>
      </div>
            
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/podg" role="button">Podcast</a>
      </div>
      </div>
    </div>

    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ITIL
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="btn btn-primary   btn-block" href="/inicial" role="button">Apostilas</a>
        <div>
        <a class="btn btn-primary  btn-block mt-2" href="/inicial" role="button">Video aula</a>
      </div>
            
      <div>
        <a class="btn btn-primary  btn-block mt-2" href="/podi" role="button">Podcast</a>
      </div>
      </div>
    </div>
  </body>



</ion-content>
